.startMenu-stack-pane {
  -fx-background-image: url("/styles/backgroundStartMenu.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: cover;
}


.game-stack-pane {
  -fx-background-image: url("/configs/fromEditing/gameBackground2.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: cover;
}

.shop {
  /*-fx-background-col*/
}

.bordered.label .text {
  -fx-stroke: black;
  -fx-stroke-width: 1px;
}
